# Dictionary, For Loop, API

# 1. Dictionary

Dictionaries are sometimes found in other languages as “associative memories” or “associative arrays”. Unlike sequences, which are indexed by a range of numbers, dictionaries are indexed by keys, which can be any immutable type; strings and numbers can always be keys. Tuples can be used as keys if they contain only strings, numbers, or tuples; if a tuple contains any mutable object either directly or indirectly, it cannot be used as a key. You can’t use lists as keys, since lists can be modified in place using index assignments, slice assignments, or methods like append() and extend().

It is best to think of a dictionary as a set of **key: value pairs**, with the requirement that the keys are unique (within one dictionary). A pair of braces creates an empty dictionary: {}. Placing a comma-separated list of key:value pairs within the braces adds initial key:value pairs to the dictionary; this is also the way dictionaries are written on output.

The main operations on a dictionary are storing a value with some key and extracting the value given the key. It is also possible to delete a key:value pair with del. If you store using a key that is already in use, the old value associated with that key is forgotten. It is an error to extract a value using a non-existent key.

Performing list(d) on a dictionary returns a list of all the keys used in the dictionary, in insertion order (if you want it sorted, just use sorted(d) instead). To check whether a single key is in the dictionary, use the in keyword.

From: https://docs.python.org/3/tutorial/datastructures.html

In [2]:
# Data formats
import pandas as pd

df = pd.DataFrame()

In [3]:
# lists
ex_list = ['a', 'b', 'c']
ex_list[0]

'a'

In [4]:
# Dictionary
capitals = {'US':'Washington_DC', 'UK':'London', 'Japan': 'Tokyo', 'Thailand':'Bangkok'}

In [5]:
type(capitals)

dict

In [6]:
capitals['UK'] #dict['key']

'London'

In [7]:
capitals.get('UK') #dict.get('key')

'London'

In [8]:
capitals['Tunisia'] = 'Tunis' #dict['new_key'] = 'new_value'

In [9]:
capitals

{'US': 'Washington_DC',
 'UK': 'London',
 'Japan': 'Tokyo',
 'Thailand': 'Bangkok',
 'Tunisia': 'Tunis'}

In [10]:
# EXAMPLE
capitals['Australia'] = 'Sydney' # THIS IS WRONG

In [11]:
capitals

{'US': 'Washington_DC',
 'UK': 'London',
 'Japan': 'Tokyo',
 'Thailand': 'Bangkok',
 'Tunisia': 'Tunis',
 'Australia': 'Sydney'}

In [12]:
del capitals['Australia'] # This removes the key,value pair associated with the key 'Australia'

In [13]:
capitals

{'US': 'Washington_DC',
 'UK': 'London',
 'Japan': 'Tokyo',
 'Thailand': 'Bangkok',
 'Tunisia': 'Tunis'}

In [14]:
# pop() to remove in a dictionary
# dict.pop('key') 
# Remove 'Thailand' 

capitals.pop('Thailand')

'Bangkok'

In [15]:
capitals

{'US': 'Washington_DC', 'UK': 'London', 'Japan': 'Tokyo', 'Tunisia': 'Tunis'}

## Build a Dictionary

In [16]:
person = {} # create an empty dictionary
type(person)

dict

In [17]:
person['first_name'] = 'Sydney'
person['last_name'] = 'Son'
person['age'] = 27
person['pets'] = {'dog':'Raf', 'cat':'Beau'}
person['colors'] = ['yellow', 'purple']

In [18]:
person

{'first_name': 'Sydney',
 'last_name': 'Son',
 'age': 27,
 'pets': {'dog': 'Raf', 'cat': 'Beau'},
 'colors': ['yellow', 'purple']}

In [19]:
# dict['key']
person['first_name']

'Sydney'

In [20]:
person['colors'] # this returns the value, which is a list

['yellow', 'purple']

In [21]:
person['colors'][1] # can be indexed like a list

'purple'

In [22]:
person['colors'][-1] # -1 indexes the last value

'purple'

In [23]:
person['pets'] # this returns the value, which is a dictionary

{'dog': 'Raf', 'cat': 'Beau'}

In [24]:
person['pets']['dog'] # can be indexed like a dictionary

'Raf'

In [25]:
person['pets']['cat']

'Beau'

## Operators / built-in functions for dictionaries

In [26]:
# 'key' in dict

'Italy' in capitals

False

In [27]:
# 'key' in dict

'United States' in capitals

False

In [28]:
'US' in capitals

True

In [29]:
len(capitals) #length

4

In [30]:
# clear a dictionary
# dict.clear()

d = {'a': 1, 'b':2}
print(d)

{'a': 1, 'b': 2}

In [31]:
d.clear() # clears everything

In [32]:
d

{}

# 2. `for` loops

In [33]:
# dict.keys() brings all the keys in a list
capitals.keys()

dict_keys(['US', 'UK', 'Japan', 'Tunisia'])

In [34]:
# use a for loop to print
for k in capitals.keys():
    print(k)

US
UK
Japan
Tunisia

In [35]:
# dict.items()
capitals.items()

dict_items([('US', 'Washington_DC'), ('UK', 'London'), ('Japan', 'Tokyo'), ('Tunisia', 'Tunis')])

In [36]:
# use a for loop to print 2 items, the key and the value
for k, v in capitals.items():
    print(k, v)

US Washington_DC
UK London
Japan Tokyo
Tunisia Tunis

In [37]:
for k, v in capitals.items():
    print('The capital of', k, 'is', v)

The capital of US is Washington_DC
The capital of UK is London
The capital of Japan is Tokyo
The capital of Tunisia is Tunis

In [38]:
# print the key, value pairs in dictionary 'person'

for k, v in person.items():
    print(k, v)

first_name Sydney
last_name Son
age 27
pets {'dog': 'Raf', 'cat': 'Beau'}
colors ['yellow', 'purple']

In [39]:
# person['pets'] is a dictionary on its own
# can use dictionary related functions on it
person['pets'].items()

dict_items([('dog', 'Raf'), ('cat', 'Beau')])

In [40]:
person['pets'].keys()

dict_keys(['dog', 'cat'])

In [41]:
type(person['pets'])

dict

In [42]:
# Can do the same print statement as well
for k, v in person['pets'].items():
    print(k, v)

dog Raf
cat Beau

## loop example with calculations

In [43]:
ex_list = [1, 2, 3, 4, 5] # example list

In [44]:
for i in ex_list:
    print(i**2) # print squared values

1
4
9
16
25

The squared values are printed, but what if I want to make a new list with only the squared values?

In [45]:
squared = [] # create empty list

In [46]:
squared # double check to see that it's empty

[]

In [47]:
for i in ex_list:
    squared.append(i**2)# append the list with new values
    print(squared)

[1]
[1, 4]
[1, 4, 9]
[1, 4, 9, 16]
[1, 4, 9, 16, 25]

`list.append(value)` appends value at the end of the list. `for` loop starts from the first element. What happend above is that first element is squared and appended, then second element is squared and added to the end of the list `squared` and so on.

In [48]:
squared # print the new list

[1, 4, 9, 16, 25]

## `for` loop with conditionals

if else statments

In [49]:
numbers = [10, 15, 16, 17, 100]

In [50]:
for i in numbers:
    print(i)

10
15
16
17
100

In [51]:
for i in numbers:
    if i < 50: # add a condition - if it satisfies this condition, execute below
        print(i)

10
15
16
17

In [52]:
for i in numbers:
    if i < 50: # add a condition
        print(i) 
    else: # for everything else that doesn't satisfy first condition, execute below
        print("This is over 50")

10
15
16
17
This is over 50

This is another example, using two lists.

In [53]:
flavors = ['vanilla', 'chocolate', 'strawberry', 'caramel']

In [54]:
'vanilla' in flavors # can check if a value exists in a list.  returns True or False

True

In [55]:
'mint' in flavors

False

In [56]:
# Another list called flavors2 - some of the values are in flavors, some are new
flavors2 = ['chocolate', 'mango', 'cookie dough', 'neopolitan']

I want to add _new_ values from `flavors2` to the list `flavors`.
So, I need to skip the values that overlap and pass. If it does not overlap, I want to append the value to list `flavors`

In [57]:
# check if a value in flavors2 list also exists in flavors list
for i in flavors2:
    if i in flavors: # if it does exist in list "flavors"
        pass # do nothing
    else: # if it doesn't exist in list "flavors"
        flavors.append(i) # append the value to list "flavors"

In [58]:
flavors # check

['vanilla',
 'chocolate',
 'strawberry',
 'caramel',
 'mango',
 'cookie dough',
 'neopolitan']

## `range`

The `range` function returns a sequence of numbers. Default starting value is 0, default incremental step is 1. Have to specify the end.

In [59]:
# range
# Remember, last number is *not* included.
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [60]:
for i in range(1, 11): # range(start, stop)
    print(i)

1
2
3
4
5
6
7
8
9
10

In [61]:
for i in range(0, 51, 5): #range(start, stop, step) # 0, 5, 10, ..., 50
    print(i)

0
5
10
15
20
25
30
35
40
45
50

In [62]:
list(range(0, 51, 5)) # can change the range to a list by placing it inside list().

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50]